.edit-save-btn {
  position: fixed;
  font-size: 2rem;
  right: 1rem;
  top: 80vh;
  padding: 2rem 2rem;
  border-radius: 50%;
  background-color: var(--dark-body-bg);
  box-shadow: -0.3rem 0.3rem 1rem black;
  transition: all 0.5s;
}
.edit-save-btn:hover {
  color: rgb(253, 255, 253);
  background-color: #5cb662;
  /* backdrop-filter: blur(5px); */
  transform: scale(1.2) rotate(360deg);
  box-shadow: 0rem 0rem 3rem black;
}
